body{
    font: 20px Arial,sans-serif;
}

.navbar{
   background-color: #8df86a;
}

.logo1{
    margin-left: 80px;
    border-radius: 8%;
}

.quem-somos{
    background-color: aqua;
    color: white;
}

.margin{   
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #5882fa;
    color: #2a4591;
}

.servicos{
    background-color: #94d4bc;  
}

.bg-footer{
    background-color: black;
    color: white;
}